# Byte-compiled / optimized / DLL files
__pycache__/

.ipynb_checkpoints

# Environments
env/

# VS Code config files
*.code-workspace
.vscode

# Ignored
_references/
_practice/
A1/others/
A2/data/
*/test/

A3/data/**/*.zip
A3/data/**/*.csv
A3/data/**/*.npy
A3/data/**/*.txt

*synctex.gz